.aboutme-contact, .aboutme-sites {
    font-style: normal;
    font-weight: bolder;
    font-family: "Helvetica Neue Bold", sans-serif;
    background-color: #FEF995;
    margin: 0 0.7rem 0 0;
    font-size: 1.5rem;
    color: #000000;
}

.aboutme-sites {
    max-width: fit-content;
    background-color: #FEF995;
    margin-bottom: 2rem;
}


.aboutme-icon {
    padding: 2rem 0;
    margin: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    font-size: 3rem;
}

.aboutme-icon svg {
    color: #bdbdd5;
    margin: 0.5rem 1rem;
}

.aboutme-text {
    color: #bdbdd5;
    font-family: "Helvetica Neue Light", sans-serif;
    margin-top: 4em;
    margin-left: 0.7rem;
}

.site-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-box {
    margin: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.box1 {
    background: url("../assets/images/behance.png") no-repeat center;
    background-size: cover;
}

.box2 {
    background: url("../assets/images/bleachereport.png") no-repeat center;
    background-size: cover;
}

.box3 {
    background: url("../assets/images/bonapp.png") no-repeat center;
    background-size: cover;
}

.site-text {
    font-family: "Helvetica Neue Light", sans-serif;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.74);
    color: #bdbdd5;
}

.site-text a {
    font-size: 2rem;
    color: #bdbdd5;
}
