
.logo {
    font-family: "Helvetica Neue Bold", sans-serif;
    padding: 1rem;
    font-size: 20px;
    font-weight: normal;
    border-top: 1px solid #bdbdd5;
    border-bottom: 1px solid #bdbdd5;
    text-transform: uppercase;
    color: #bdbdd5;
}

.navbar {
    padding: 1rem !important;
}

.logo:hover {
    color: #bdbdd5;
    text-decoration: none;
}


.nav-links {
    font-family: "Helvetica Neue Light", sans-serif;
    margin-left: auto;
    color: black;
    list-style: none;
    text-transform: uppercase;
    border-top: 1px solid #bdbdd5;
    border-bottom: 1px solid #bdbdd5;
}


.nav-link {
    color: #bdbdd5 !important;
}


@media screen and (max-device-width: 990px) {
    .nav-links {
        border: none;
    }
}
